.header {
  color: #212121;
  font-weight: 500;
  font-size: 32px;
}

.welcome__description {
  height: 44px;
  color: #616161;
  text-align: center;
  white-space: pre;
}

.welcome__link {
  color: #0D6EFD;
  text-decoration: none;
  font-size: 14px;
  white-space: pre;
}

.form__container {
  margin-top: 20px;
  padding: 5px 16px 30px 16px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}

.logo__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D6EFD;
}

.welcome__link-grey {
  color: #616161;
}

.checkbox__label {
  font-size: 14px;
  color: #212121;
}

.line {
  margin: 32px 72px;
  height: 0;
  width: 232px;
  border-bottom: 1px solid #E0E0E0;
}

.sign_in__button {
  background-color: #0D6EFD;
  height: 48px;
}




